@import "./vars";

*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

body{
   font-family: $lato;
   font-size: 16px;
}

main{
   width: 100%;
   height: 100%;
   display: flex;

   header{
      width: 100%;
      height: 10vh;
      padding: 25px 70px;
      z-index: 3;

      position: absolute;
      display: flex;
      justify-content: space-between;
      .header-logo{
         width: 8%;
         display: flex;
         align-items: center;
         justify-content: flex-start;
         img{
            width: 100px;
         }
      }

      .header-menu{
         width: 50%;
         list-style: none;

         display: flex;
         justify-content: space-evenly;
         align-items: center;
         li{
            a{
               text-decoration: underline;
               text-underline-offset: 2px;
               
               text-transform: uppercase;
               color: black;
               font-size: 16px;
               font-weight: 400;
               transition: all .5s;
               &:hover{
                  font-size: 20px;
                  text-underline-offset: 10px;
                  text-decoration-thickness: 2px;
               }
            }
            .active-menu-item{
               font-size: 20px;
               text-underline-offset: 10px;
               text-decoration-thickness: 2px;
            }
         }
      }

      .header-icons{
         width: 8%;
         list-style: none;
      
         display: flex;
         justify-content: space-evenly;
         align-items: center;
         li{
            button{
               background: beige;
               width: 40px;
               height: 40px;
               border-radius: 50%;
               display: flex;
               align-items: center;
               justify-content: center;
               border: none;
               cursor: pointer;
               img{
                  width: 20px;
                  
               }
            }
         }
      }
   }

   .left-section{
      width: 70%;
      height: 100%;
      padding: 200px 100px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      

      .product-content{
         padding: 0 50px;
         width: 70%;
         .features{
            
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            .product-name{
               font-size: 48px;
            }
            .product-price{
               font-size: 24px;
               font-style: italic;
               font-weight: 400;
               opacity: .6;
            }
            .product-detail{
               font-size: 20px;
               font-style: italic;
               opacity: .8;
               padding-top: 30px;
            }
            .size-form{
               padding-top: 30px;
               .size-capt{
                  font-size: 20px;
               }
               .select-size{
                  padding-top: 10px;
                  display: flex;
                  gap: 10px;
                  input{
                     display: none;
                  }
                   
                  label {
                     display: inline-block;
                     width: 40px;
                     height: 40px;
                     border-radius: 50%;
                     text-align: center;
                     border: 1px solid #ddd;
                     line-height: 40px;
                     cursor: pointer
                  }
                   
                   #size1:checked ~ label[for="size1"],
                   #size2:checked ~ label[for="size2"],
                   #size3:checked ~ label[for="size3"],
                   #size4:checked ~ label[for="size4"],
                   #size5:checked ~ label[for="size5"],
                   #size6:checked ~ label[for="size6"],
                   #size7:checked ~ label[for="size7"],
                   #size8:checked ~ label[for="size8"] {
                     background: black;
                     color: white;
                  }
               }
            }
            .color-container{
               padding-top: 20px;
               display: flex;
               padding-right: 0px;
               gap: 10px;
               a{
                  width: 40px;
                  height: 40px;
                  border-radius: 50%;
                  border: none;
                  cursor: pointer;
               }
               .active{
                  border: 2px solid black;
               }
               .silver{
                  background: #dcdfde;
               }
               .lime{
                  background: #c7ceaf;
               }
               .black{
                  background: black;
               }
            }
      
            .buy-options{
               display: flex;
               gap: 20px;
               padding-top: 30px;

               button{cursor: pointer;}
               .add-to-card{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 5px;
                  width: 250px;
                  height: 50px;
                  background: black;
      
                  border-radius: 20px;
                  border: none;
                  color: white;
                  font-size: 18px;
      
                  img{
                     width: 18px;
                     padding-bottom: 3px;
                     filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(181deg) brightness(104%) contrast(101%);
                  }
               }
               .add-to-fav{
                  width: 50px;
                  height: 50px;
                  border-radius: 20px;
                  border: 1px solid black;
                  background: none;
                  img{
                     width: 20px;
                  }
               }
            }
         }

         .fashion-details{
            text-align: center;
            display: flex;
            flex-direction: column;

            h2{
               font-size: 48px;
            }
            q{
               font-size: 24px;
               font-style: italic;
               opacity: .6;
            }
            .design-text{
               padding-top: 30px;
               font-size: 20px;
               text-align: left;
            }
            .designer{
               padding-top: 20px;
               font-size: 18px;
               strong{
                  font-size: 20px;
                  font-weight: 300;
                  font-style: italic;
               }
            }
         }

         .reviews{
            display: flex;
            flex-direction: column;
            .revs{
               padding-top: 10px;
               .infos{
                  display: flex;
                  justify-content: space-between;
                  .stars{
                     ul{
                        display: flex;
                        list-style: none;
                        color: orange;
                     }
                  }
                  .username{
                     font-size: 18px;
                     font-style: italic;
                  }
               }
               .comment{
                  padding-top: 20px;
                  font-size: 18px;
                  text-align: justify;
               }
               hr{
                  margin-top: 20px;
                  border: 0;
                  height: 1px;
                  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
               }
            }
         }
      }

      .product-pages{
         display: flex;
         gap: 20px;
         padding: 0 50px;
         width: 70%;
         margin-bottom: 10px;
         transition: all 1s;
         

         position: fixed;
         bottom: 0;
         button{cursor: pointer;}
         
         button{
            width: 40px;
            height: 40px;
            background: none;
            border: 1px solid black;
            border-radius: 20px;
            transition: all .5;

            p{display: none;}
            img{
               width: 20px;
            }
         }
         .activePage{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            width: 250px;
            p{display: block;
               font-size: 16px;
               padding-top: 3px;
            }
            transition: all .5;
         }
      }
      
       
       
       
       
   }
   .right-section{
      position: fixed;
      right: 0;
      width: 30%;
      height: 100vh;
      background: url('../images/bg2.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .product-image{
         width: 700px;
         position: absolute;
         right: 20%;
         top: 10%;
         margin-right: 100px;
      }

      .image-gallery{
         position: fixed;
         right: 0;
         top: 40%;
         display: flex;
         flex-direction: column;
         padding-right: 10px;
         gap: 10px;
         
         button{
            width: 100px;
            height: 100px;          
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 30px;
            border: none;
            cursor: pointer;

            img{
               width: 100px;
               height: 100px;
            }
            
         }
         .activeS1{
            border: 2px solid black;
         }

      }

      

      
   }
}