@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
}
main header {
  width: 100%;
  height: 10vh;
  padding: 25px 70px;
  z-index: 3;
  position: absolute;
  display: flex;
  justify-content: space-between;
}
main header .header-logo {
  width: 8%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
main header .header-logo img {
  width: 100px;
}
main header .header-menu {
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main header .header-menu li a {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-transform: uppercase;
  color: black;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.5s;
}
main header .header-menu li a:hover {
  font-size: 20px;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}
main header .header-menu li .active-menu-item {
  font-size: 20px;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}
main header .header-icons {
  width: 8%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
main header .header-icons li button {
  background: beige;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
main header .header-icons li button img {
  width: 20px;
}
main .left-section {
  width: 70%;
  height: 100%;
  padding: 200px 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
main .left-section .product-content {
  padding: 0 50px;
  width: 70%;
}
main .left-section .product-content .features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
main .left-section .product-content .features .product-name {
  font-size: 48px;
}
main .left-section .product-content .features .product-price {
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  opacity: 0.6;
}
main .left-section .product-content .features .product-detail {
  font-size: 20px;
  font-style: italic;
  opacity: 0.8;
  padding-top: 30px;
}
main .left-section .product-content .features .size-form {
  padding-top: 30px;
}
main .left-section .product-content .features .size-form .size-capt {
  font-size: 20px;
}
main .left-section .product-content .features .size-form .select-size {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}
main .left-section .product-content .features .size-form .select-size input {
  display: none;
}
main .left-section .product-content .features .size-form .select-size label {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #ddd;
  line-height: 40px;
  cursor: pointer;
}
main .left-section .product-content .features .size-form .select-size #size1:checked ~ label[for=size1],
main .left-section .product-content .features .size-form .select-size #size2:checked ~ label[for=size2],
main .left-section .product-content .features .size-form .select-size #size3:checked ~ label[for=size3],
main .left-section .product-content .features .size-form .select-size #size4:checked ~ label[for=size4],
main .left-section .product-content .features .size-form .select-size #size5:checked ~ label[for=size5],
main .left-section .product-content .features .size-form .select-size #size6:checked ~ label[for=size6],
main .left-section .product-content .features .size-form .select-size #size7:checked ~ label[for=size7],
main .left-section .product-content .features .size-form .select-size #size8:checked ~ label[for=size8] {
  background: black;
  color: white;
}
main .left-section .product-content .features .color-container {
  padding-top: 20px;
  display: flex;
  padding-right: 0px;
  gap: 10px;
}
main .left-section .product-content .features .color-container a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
main .left-section .product-content .features .color-container .active {
  border: 2px solid black;
}
main .left-section .product-content .features .color-container .silver {
  background: #dcdfde;
}
main .left-section .product-content .features .color-container .lime {
  background: #c7ceaf;
}
main .left-section .product-content .features .color-container .black {
  background: black;
}
main .left-section .product-content .features .buy-options {
  display: flex;
  gap: 20px;
  padding-top: 30px;
}
main .left-section .product-content .features .buy-options button {
  cursor: pointer;
}
main .left-section .product-content .features .buy-options .add-to-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 250px;
  height: 50px;
  background: black;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 18px;
}
main .left-section .product-content .features .buy-options .add-to-card img {
  width: 18px;
  padding-bottom: 3px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(181deg) brightness(104%) contrast(101%);
}
main .left-section .product-content .features .buy-options .add-to-fav {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  border: 1px solid black;
  background: none;
}
main .left-section .product-content .features .buy-options .add-to-fav img {
  width: 20px;
}
main .left-section .product-content .fashion-details {
  text-align: center;
  display: flex;
  flex-direction: column;
}
main .left-section .product-content .fashion-details h2 {
  font-size: 48px;
}
main .left-section .product-content .fashion-details q {
  font-size: 24px;
  font-style: italic;
  opacity: 0.6;
}
main .left-section .product-content .fashion-details .design-text {
  padding-top: 30px;
  font-size: 20px;
  text-align: left;
}
main .left-section .product-content .fashion-details .designer {
  padding-top: 20px;
  font-size: 18px;
}
main .left-section .product-content .fashion-details .designer strong {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}
main .left-section .product-content .reviews {
  display: flex;
  flex-direction: column;
}
main .left-section .product-content .reviews .revs {
  padding-top: 10px;
}
main .left-section .product-content .reviews .revs .infos {
  display: flex;
  justify-content: space-between;
}
main .left-section .product-content .reviews .revs .infos .stars ul {
  display: flex;
  list-style: none;
  color: orange;
}
main .left-section .product-content .reviews .revs .infos .username {
  font-size: 18px;
  font-style: italic;
}
main .left-section .product-content .reviews .revs .comment {
  padding-top: 20px;
  font-size: 18px;
  text-align: justify;
}
main .left-section .product-content .reviews .revs hr {
  margin-top: 20px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
main .left-section .product-pages {
  display: flex;
  gap: 20px;
  padding: 0 50px;
  width: 70%;
  margin-bottom: 10px;
  transition: all 1s;
  position: fixed;
  bottom: 0;
}
main .left-section .product-pages button {
  cursor: pointer;
}
main .left-section .product-pages button {
  width: 40px;
  height: 40px;
  background: none;
  border: 1px solid black;
  border-radius: 20px;
  transition: all 0.5;
}
main .left-section .product-pages button p {
  display: none;
}
main .left-section .product-pages button img {
  width: 20px;
}
main .left-section .product-pages .activePage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 250px;
  transition: all 0.5;
}
main .left-section .product-pages .activePage p {
  display: block;
  font-size: 16px;
  padding-top: 3px;
}
main .right-section {
  position: fixed;
  right: 0;
  width: 30%;
  height: 100vh;
  background: url("../images/bg2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
main .right-section .product-image {
  width: 700px;
  position: absolute;
  right: 20%;
  top: 10%;
  margin-right: 100px;
}
main .right-section .image-gallery {
  position: fixed;
  right: 0;
  top: 40%;
  display: flex;
  flex-direction: column;
  padding-right: 10px;
  gap: 10px;
}
main .right-section .image-gallery button {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}
main .right-section .image-gallery button img {
  width: 100px;
  height: 100px;
}
main .right-section .image-gallery .activeS1 {
  border: 2px solid black;
}/*# sourceMappingURL=style.css.map */